body {
    background: linear-gradient(180deg, var(--wp--preset--color--base) 0%, #fff 700px) no-repeat;
}

.wp-block-image figcaption {
	text-align: center;
}

/* Vertical align images in a gallery block */

figure.wp-block-gallery.has-nested-images {
	align-items: center;
}
.wp-block-gallery.has-nested-images:not(.is-cropped)
    figure.wp-block-image:not(#individual-image) {
	margin-bottom: unset;
}
